/* Стили для контейнера */
.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    margin-right: 200px;
}

/* Стили для кнопки сохранения */
.saveButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveButton img {
    width: 24px;
    height: 24px;
}

.clearOrdersButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: auto; /* Размещаем кнопку внизу меню */
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearOrdersButton img {
    width: 24px;
    height: 24px;
}

.clearOrdersButton:hover {
    background-color: #ffcccc; /* Легкий красный фон при наведении */
}

/* Стили для выбора даты */
.dateInput {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dateInput label {
    font-size: 18px;
    color: #215923;
}

.datePicker {
    border: 1px solid #C9954F;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
}

/* Стили таблицы */
.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.table th {
    background: #215923;
    color: white;
    padding: 15px;
    text-align: left;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #C9954F;
    vertical-align: middle;
}

.table td[style*="display: flex"] {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: auto;
}

/* Правое меню */
.sideMenu {
    width: 200px;
    background: #215923;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuButton {
    width: 100%;
    padding: 15px;
    background: #eeeeee;
    border: 2px solid #C9954F;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.menuButton.active {
    background: #C9954F;
    color: white;
}

.menuButton:hover {
    background: #C9954F;
    color: white;
}

/* Выделение строки */
.highlightedRow {
    background-color: rgba(201, 149, 79, 0.5);
}

/* Контейнер для таблиц "Количество дежурств" */
.countContainer {
    display: flex;
    gap: 20px;
}

.mainTable {
    flex: 1;
}

.detailsTable {
    flex: 1;
}

.selectedRow {
    background-color: rgba(201, 149, 79, 0.5);
}

input[type="text"] {
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
    font-size: 14px;
    line-height: normal;
}