.sidebar {
    background: #215923;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1000;
    transition: transform 0.3s ease;
}

* {
    transition: all 0.3s ease !important;
    box-sizing: border-box;
}

.expanded {
    transform: translateX(0);
}

.logoContainer {
    padding: 20px 10px;
    border-bottom: 1px solid #C9954F;
    display: flex;
    align-items: center;
}

.logo {
    width: 111px;
    height: 106px;
    margin-left: -8px;
}

.logoExpanded {
    margin-bottom: -7px;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 18px 24px;
    width: 100%;
    color: #eeeeee;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(201, 149, 79, 0.2);
    transition: color 0.3s ease;
}

.menuItem:hover {
    color: #C9954F !important;
}

.menuItem span {
    font-size: 20px; /* Размер шрифта */
    font-weight: 500; /* Жирность */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.menuItem img {
    width: 64px;
    height: 64px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

.menuItem:hover img {
    filter:
            brightness(0)
            invert(72%)
            sepia(12%)
            saturate(965%)
            hue-rotate(350deg) !important;
}