.container {
    padding: 30px;
}

.selectedRow {
    background-color: rgba(201, 149, 79, 0.4);
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.tag {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
}

.tag:hover {
    background-color: #d9d9d9;
}

.selectedTag {
    background-color: #215923;
    color: white;
}

.multiSelectContainer {
    position: relative;
    width: 100%;
}

.multiSelect {
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    background: white;
    user-select: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.dropdownItem {
    padding: 8px;
    cursor: pointer;
}

.dropdownItem:hover {
    background: #f0f0f0;
}

.selected {
    background: #215923;
    color: white;
}


.inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.inputField:focus {
    border-color: #C9954F;
    outline: none;
}

.tablesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки */
    gap: 30px; /* Расстояние между блоками */
}

.tableSection {
    border: 1px solid #C9954F;
    padding: 20px;
    box-sizing: border-box; /* Убедитесь, что padding не увеличивает ширину */
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

.table th {
    background: #215923;
    color: white;
    padding: 12px;
    text-align: left;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #C9954F;
}

.table select[multiple] {
    height: 100px;
    min-width: 200px;
    padding: 5px;
    background: white;
    border: 1px solid #C9954F;
}

.table select[multiple] option {
    padding: 4px;
    border-bottom: 1px solid #eee;
}

.table select[multiple] option:checked {
    background: #C9954F30;
}

input,
select {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 14px;
}

.controls {
    text-align: right;
}

.addButton,
.saveButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
}

.addButton img,
.saveButton img,
.deleteButton img {
    width: 24px;
    height: 24px;
    filter: invert(72%) sepia(12%) saturate(965%) hue-rotate(350deg);
}

.deleteButton img {
    filter: invert(48%) sepia(75%) saturate(3176%) hue-rotate(350deg);
}

.addForm {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.addForm input,
.addForm select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}